<a href="https://colab.research.google.com/github/Naveenkumarnaveeen/Machine-Learning-with-Python/blob/main/class_5%2C6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# TUPLES - Tuples are immutable (cannot add or remove elements from a tuple)
          #  represented in paranthesis
          #  allows repetition of elements 
          #  allows elements of different datatypes 
          #  elements are separated by commas 
          #  ordered and unchangeable 
          #  supports indexing and slicing
# ex - a = (4,5,6,7,8,9)

In [3]:
a = (1,3,4,5,6,7,3,8,9,5,6,3)
type(a)

tuple

In [4]:
len(a)

12

In [5]:
a

(1, 3, 4, 5, 6, 7, 3, 8, 9, 5, 6, 3)

In [ ]:
# (1, 3, 4, 5, 6, 7, 3, 8, 9, 5, 6, 3) 
#  0  1  2  3  4  5  6  7  8  9 10 11 12  - index
#-12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [7]:
a[0]

1

In [8]:
a[4]

6

In [9]:
# slicing() - trying to create smaller sequences from bigger ones
a[3:7]   # [inclusive:exclusive]

(5, 6, 7, 3)

In [10]:
# a[7:12]
# a[7:]
a[-5:]

(8, 9, 5, 6, 3)

In [11]:
a[1:11:3]   # start:stop:step
# (3, 4, 5, 6, 7, 3)

(3, 6, 8, 6)

In [12]:
a = "hello world"  
a[4:10]      #slicing 
# hello world
# 012345678910

'o worl'

In [13]:
a = (1,1,"ABC","ABC",5.64,8.54)
a

(1, 1, 'ABC', 'ABC', 5.64, 8.54)

In [14]:
type(a)

tuple

In [15]:
a = (5,8,6,7,3,2,4,5,1)
a

(5, 8, 6, 7, 3, 2, 4, 5, 1)

In [16]:
# a.sort() #cannot sort a tuple using this command 

sorted(a) #to sort a tuple #ascending order

[1, 2, 3, 4, 5, 5, 6, 7, 8]

In [17]:
#Sort a tuple in descending order 
sorted(a,reverse=True)

[8, 7, 6, 5, 5, 4, 3, 2, 1]

In [18]:
a[::-1] # reverse a tuple

(1, 5, 4, 2, 3, 7, 6, 8, 5)

In [19]:
a.append(5) # tupple does not support append operation (immutable)

AttributeError: ignored

In [20]:
a.insert(2,9) # tupple does not support insert operation (immutable)

AttributeError: ignored

In [21]:
a.remove(5) # tupple does not support remove operation (immutable)

AttributeError: ignored

In [22]:
a.pop(0)  # tupple does not support pop operation (immutable)

AttributeError: ignored

In [23]:
# tuples are more secure

In [24]:
# convert tuples to lists and then make the changes 
a = (1,4,6,7,8)
lst1 = list(a)
lst1.append(23)
a = tuple(lst1)
a

(1, 4, 6, 7, 8, 23)

In [25]:
type(a)

tuple

In [26]:
type(lst1)

list

In [27]:
a = a.clear() # does not support clear operation

AttributeError: ignored

In [28]:
del a #delete the entire tuples

In [ ]:
# a result in error as a is deleted

In [30]:
tup1 = ("apple","banana","cherry")
if "apple" in tup1:
  print("Yes 'apple' is in the tuples")

Yes 'apple' is in the tuples

In [31]:
# SETS - only unique elements arranged in ascending order / does not allow repetition 
        # curly braces / flower brackets
        # no indexing        # no slicing 
        # accepts elements of different datatypes
        # mutable (can add and remove elements)

In [32]:
a = {1,8,9,5,7,4,4,6,9,5,8}
a

{1, 4, 5, 6, 7, 8, 9}

In [33]:
type(a)

set

In [34]:
a.add(7)
a

{1, 4, 5, 6, 7, 8, 9}

In [35]:
a.add(2)

In [36]:
a

{1, 2, 4, 5, 6, 7, 8, 9}

In [37]:
a.remove(2)

In [38]:
a.discard(8)

In [39]:
a

{1, 4, 5, 6, 7, 9}

In [40]:
a

{1, 4, 5, 6, 7, 9}

In [41]:
a[3] #no indexing

TypeError: ignored

In [42]:
a[3:7] #no slicing

TypeError: ignored

In [43]:
a = {1, 4, 5, 6, 7, 9}
b = {7,8,9,3,1,8,2,3}

In [44]:
a

{1, 4, 5, 6, 7, 9}

In [45]:
b

{1, 2, 3, 7, 8, 9}

In [46]:
a | b #union of a set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [47]:
a & b   #intersection of a set

{1, 7, 9}

In [48]:
a - b # difference of sets is given by a - (a intersection b) 
                          #  {1, 4, 5, 6, 7, 9} - {1, 7, 9}

{4, 5, 6}

In [49]:
#symmetric difference of sets - union of uncommon elements
sy_diff = a ^ b            #  {1, 4, 5, 6, 7, 9}  {1, 2, 3, 7, 8, 9}
sy_diff

{2, 3, 4, 5, 6, 8}

In [50]:
type(sy_diff)

set

In [51]:
sy_diff.clear()

In [52]:
sy_diff  #becomes an empty set

set()

In [53]:
# copy() - create a copy of a set 
a 
updated_a = a.copy()

In [54]:
updated_a

{1, 4, 5, 6, 7, 9}

In [55]:
a = []  #empty list
type(a)

list

In [56]:
a = () #empty tuple
type(a)

tuple

In [57]:
a = {} #empty dictionary 
type(a)

dict

In [58]:
a = set()  #empty set
type(a)

set

In [59]:
lst1 = [1,2,4,6,3,6,7,8]
s1 = set(lst1)
s1

{1, 2, 3, 4, 6, 7, 8}

In [60]:
lst2 = list(s1)
lst2

[1, 2, 3, 4, 6, 7, 8]

In [61]:
# DICTIONARY :   {key:value pairs}
# every key can have 1 or more values 
# dictionaries are mutable
# no indexing involved in dictionary 
# duplicates not allowed 
# d = {001:'AA',002:'BB',003:'CC'}
# python dictionaries are ordered

In [62]:
data = {1:'python',2:'java',3:'c++'}
data

{1: 'python', 2: 'java', 3: 'c++'}

In [63]:
type(data)

dict

In [64]:
data[1]

'python'

In [65]:
data[2]

'java'

In [66]:
data[3]

'c++'

In [67]:
# fetch a particular value using keys in a dictionary

In [68]:
data[0] # no key 0 hence error

KeyError: ignored

In [69]:
data.get(0,"Key not found!")

'Key not found!'

In [70]:
data

{1: 'python', 2: 'java', 3: 'c++'}

In [71]:
#duplicates not allowed (only the last key:value duplicate will be displayed)
dict12 = {"country": "India","city":"mumbai","city":"new delhi","city":"bangalore"}
dict12

{'country': 'India', 'city': 'bangalore'}

In [72]:
dict1 = {"country": "India","city":["Mumbai","Bangalore","New delhi","Chennai","Kolkata"]}
dict1

{'country': 'India',
 'city': ['Mumbai', 'Bangalore', 'New delhi', 'Chennai', 'Kolkata']}

In [73]:
dict1 = {"country": "India","city":("Mumbai","Bangalore","New delhi","Chennai","Kolkata")}
dict1

{'country': 'India',
 'city': ('Mumbai', 'Bangalore', 'New delhi', 'Chennai', 'Kolkata')}

In [74]:
dict1 = {"country": "India","city":{"Mumbai","Bangalore","New delhi","Chennai","Kolkata"}}
dict1

{'country': 'India',
 'city': {'Bangalore', 'Chennai', 'Kolkata', 'Mumbai', 'New delhi'}}

In [75]:
dict22 = {"country":"vatican city","city":"vatican city"}
dict22

{'country': 'vatican city', 'city': 'vatican city'}

In [76]:
dict1 = {"country": "India","city":["Mumbai","Bangalore","New delhi","Chennai","Kolkata"]}
dict1

{'country': 'India',
 'city': ['Mumbai', 'Bangalore', 'New delhi', 'Chennai', 'Kolkata']}

In [77]:
dict1["city"]

['Mumbai', 'Bangalore', 'New delhi', 'Chennai', 'Kolkata']

In [78]:
dict1['city'][1]

'Bangalore'

In [79]:
dict1['city'][-1]

'Kolkata'

In [80]:
# create a dictionary from multiple lists 
keys = ['person 1','person 2','person 3']
values = ['pizza','burger','pasta']

food_dict = dict(zip(keys,values))  # zip() helps to map the values in order to create a dictionary from  
food_dict

{'person 1': 'pizza', 'person 2': 'burger', 'person 3': 'pasta'}

In [81]:
# add a key:value pair to a dictionary 
food_dict['person 4'] = 'noodles'
food_dict

{'person 1': 'pizza',
 'person 2': 'burger',
 'person 3': 'pasta',
 'person 4': 'noodles'}

In [82]:
# delete a key value pair from a dictionary 
del food_dict['person 2']

In [83]:
food_dict

{'person 1': 'pizza', 'person 3': 'pasta', 'person 4': 'noodles'}

In [84]:
editors = {'localhost':'jupyter notebook','offline':['IDLE','Pycharm','Sublime','vscode'],'online':('colab','kaggle notebook')}
editors

{'localhost': 'jupyter notebook',
 'offline': ['IDLE', 'Pycharm', 'Sublime', 'vscode'],
 'online': ('colab', 'kaggle notebook')}