<a href="https://colab.research.google.com/github/Naveenkumarnaveeen/Machine-Learning-with-Python/blob/main/class_2%2C3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PYTHON FUNDAMENTALS NOTEBOOK**

In [1]:
# cloud based editor for python 
# GOOGLE COLABORATORY 
# shift+enter - to run the current cell
# ctrl + m + b (creates a new cell)

In [2]:
print("Hello world")

Hello world

In [4]:
print("Hello world")

Hello world

In [5]:
print("Hello world")

Hello world

In [6]:
print("Hello world")

Hello world

In [7]:
print("Hello world")

Hello world

In [8]:
print("Hello world")

Hello world

In [9]:
# Variables and data types

In [10]:
a = 1

In [11]:
type(a)

int

In [12]:
print(a)  #actual python syntax

1

In [13]:
a  #exclusive for python notebooks only (you can print a single line without using the print keyword)

1

In [14]:
b = 5

In [15]:
print(b)

5

In [16]:
b

5

In [17]:
a
b
# if we want to print two statements then print(a) is supposed to be used

5

In [18]:
print(a)
print(b)

1
5

In [19]:
type(a)

int

In [20]:
type(b)

int

In [21]:
print(type(a))   #actual syntax
print(type(b))

<class 'int'>
<class 'int'>

In [22]:
a = 1.786
type(a)

float

In [23]:
a,b      # prints the values like a tuple

(1.786, 5)

In [24]:
a = 't'
b = "t"
c = 'hello'
d = "hello"

In [25]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [26]:
a = True
b = False 
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [27]:
a = True 
print(type(a))

<class 'bool'>

In [28]:
b = False 
print(type(b))

<class 'bool'>

In [29]:
a = 3+5j
print(type(a))

<class 'complex'>

In [30]:
# 1. integer
# 2. float
# '''
# 3. string
# 4. boolean
# 5. complex 
# '''
# print("Hello world")
# ctrl+a, ctrl + /
#                  #   - single line comment
# '''your code here''' -  multi line comment

In [31]:
# input() statment

In [32]:
a = input("Enter the text :")
print("The entered statement is :",a)

Enter the text :India is my country
The entered statement is : India is my country

In [33]:
type(a)

str

In [34]:
a = 4
b = 5

In [35]:
a+b

9

In [36]:
a-b

-1

In [37]:
a*b

20

In [38]:
a/b   # quotient

0.8

In [39]:
a%b   #remainder

4

In [40]:
a//b   #floor division (gives only the integer part of the quotient)

0

In [42]:
a = input("Enter 1st number :")
b = input("Enter 2nd number :")

Enter 1st number :5
Enter 2nd number :7

In [43]:
a+b #string concatenation

'57'

In [ ]:
a-b # a,b are string data types so it will result in error

In [45]:
a = int(input("Enter 1st number :"))
b = int(input("Enter 2nd number :"))

Enter 1st number :10
Enter 2nd number :2

In [46]:
a+b

12

In [47]:
a-b

8

In [48]:
a = float(input("Enter 1st number :"))
b = float(input("Enter 2nd number :"))

Enter 1st number :7.89
Enter 2nd number :5.093

In [49]:
# strings 
# raw string 
# formatted string

In [50]:
a = "Hello world"

In [51]:
type(a)

str

In [52]:
b = "HELLO WORLD"

In [53]:
a+b

'Hello worldHELLO WORLD'

In [54]:
a = "Hello world"
b = "HELLO WORLD"
print(a,b)

Hello world HELLO WORLD

In [55]:
# raw string - removes the special meaning of these escape sequences and prints the string as it is 

print('C:\program Files\adobe\adobe Illustrator CC 2017\book\total_books\new folder')
# escape sequences (\n,\t,\b,\a - special meanings in python)
print(r'C:\program Files\adobe\adobe Illustrator CC 2017\book\total_books\new folder')

C:\program Filesdobedobe Illustrator CC 2017ook	otal_books
ew folder
C:\program Files\adobe\adobe Illustrator CC 2017\book\total_books\new folder

In [56]:
# FORMATTED STRING - refers to the value present inside the variable and prints it within the string 

a = int(input("Enter 1st number :"))
b = int(input("Enter 2nd number :"))

Enter 1st number :10
Enter 2nd number :5

In [57]:
print("Addition of a and b is :",a+b)
print("subtraction of a and b is :",a-b)
print("Muliplication of a and b is :",a*b)
print("Division of a and b is :",a/b)
print("Modulus of a and b is :",a%b)
print("Floor division of a and b is :",a //b)

Addition of a and b is : 15
subtraction of a and b is : 5
Muliplication of a and b is : 50
Division of a and b is : 2.0
Modulus of a and b is : 0
Floor division of a and b is : 2

In [58]:
print(f"Addition of {a} and {b} is :",a+b)
print(f"subtraction of {a} and {b} is :",a-b)
print(f"Muliplication of {a} and {b} is :",a*b)
print(f"Division of {a} and {b} is :",a/b)
print("Modulus of {a} and {b} is :",a%b)
print(f"Floor division of a and b is :",a //b)

Addition of 10 and 5 is : 15
subtraction of 10 and 5 is : 5
Muliplication of 10 and 5 is : 50
Division of 10 and 5 is : 2.0
Modulus of {a} and {b} is : 0
Floor division of a and b is : 2

In [59]:
a = input("Enter 1st number :")
b = input("Enter 2nd number :")
print(f"Addition of {a} and {b} is :",a+b)

Enter 1st number :5
Enter 2nd number :3
Addition of 5 and 3 is : 53

In [61]:
a = float(input("Enter 1st number :"))
b = float(input("Enter 2nd number :"))
print(f"Addition of {a} and {b} is :",a+b)

Enter 1st number :3.89
Enter 2nd number :4.45
Addition of 3.89 and 4.45 is : 8.34

In [62]:
print(a+b)
print(round(a+b))

8.34
8

In [63]:
round(12.181999999999999,2)

12.18

In [64]:
# Square of a number 
a = float(input("Enter a number :"))
# square = a*a
square = a**2
print(f"Square of {a} is :",square)

Enter a number :4
Square of 4.0 is : 16.0

In [65]:
# Control statements 
# if, else, if else conditions

In [66]:
10%2

0

In [67]:
# if condition (indentation)

In [68]:
# Even or odd program 
a = 11
if a%2==0:
  print("the number is even")
if a%2!=0:
  print("the number is odd")

# indentation in IDLE  - 1 tab space = 4 spaces    
# indentation in colab - 1 tab space = 2 spaces

the number is odd

In [69]:
# Even or odd program 
a = int(input("Enter the number :"))
if a%2==0:
  print(f"the number {a} is even")
if a%2!=0:
  print(f"the number {a} is odd")

Enter the number :67
the number 67 is odd

In [70]:
# Even or odd program 
a = int(input("Enter the number :"))
if a%2==0:
  print("the number is even")
else:
  print("the number is odd")

Enter the number :10
the number is even

In [71]:
a = input("Enter the season :")
if a == "summer" or a == "Summer" or a == "SUMMER":
  print("Summer season")
elif a == "winter":
  print("Winter season")
elif a == "spring":
  print("spring season")
elif a == "autumn":
  print("autumn season")
elif a == "monsoon":
  print("monsoon season")
else:
  print("Invalid entry")

Enter the season :SUMMer
Invalid entry

In [72]:
a = input("Enter the season :")
a = a.lower() 
if a == "summer" or a == "Summer" or a == "SUMMER":
  print("Summer season")
elif a == "winter":
  print("Winter season")
elif a == "spring":
  print("spring season")
elif a == "autumn":
  print("autumn season")
elif a == "monsoon":
  print("monsoon season")
else:
  print("Invalid entry")

Enter the season :Monsoon
monsoon season

In [73]:
# Assignment : 
# 1.write a code to check which number is largest out of the three numbers and print it
# 2.write a code to check if person is eligible to vote or not,if the person is not eligible, then print after how many years will he/she be eligible 
# 3.write a program to find the square root a number obtained from a user input (use formatted strings)

In [74]:
# QUESTION:1
a=int(input("enter number:"))
b=int(input("enter number:"))
c=int(input("enter number:"))
if (a>b) and (a>c):
  print(f"The greater number is {a}")
elif ((b>c) and (b>a)):
  print(f"The greater number is {b}")
else:
  print(f"The greater number is {c}")

enter number:10
enter number:12
enter number:13
The greater number is 13

In [76]:
# Question 2:
vote_age=int(input("enter age:"))
if (vote_age>=18):
  print("Eligible to vote")
else:
  print("Not elligible to vote, You will be elligible in ",18-vote_age,"years")

enter age:13
Not elligible to vote, You will be elligible in  5 years

In [77]:
# Question 3:
num=int(input("enter number:"))
square=num**2
print(f"The square of {num} is {square}")

enter number:4
The square of 4 is 16