<a href="https://colab.research.google.com/github/Naveenkumarnaveeen/Machine-Learning-with-Python/blob/main/class_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# break - we can stop the loop execution even though the condition inside the while loop is True

a = 0 
while a <= 20:
  print(a)
  if a == 7:
    break    # terminates the loop once the given condition is satisfied 
  a = a + 1

0
1
2
3
4
5
6
7

In [2]:
# continue statement - stops the current iteration and it continues with the rest of the loop execution 

a = 0 
while a <= 10:
  a = a + 1
  if a == 7:
    continue
  print(a)

1
2
3
4
5
6
8
9
10
11

In [3]:
# STAR PATTERNS 
a = 0 
while a <= 5:
  print(a*"* ") 
  a = a + 1

*
* *
* * *
* * * *
* * * * *

In [4]:
a = 0 
while a <= 5:
  print(a) 
  a = a + 1

0
1
2
3
4
5

In [5]:
# STAR PATTERNS (decrement)
a = 5 
import time
while a >= 0:
  print(a*"* ") 
  time.sleep(1)  #delay after every iteration 
  a = a - 1

* * * * *
* * * *
* * *
* *
*

In [6]:
#NESTED WHILE LOOP (one loop inside another)
i = 1
while i <= 5:
  print("Python",end = " ")
  j = 1 
  while j <=1:
    print("trainings")
    j = i + 1
  i = i + 1

Python trainings
Python trainings
Python trainings
Python trainings
Python trainings

In [7]:
j = 1 
while j <=1:
  print("trainings")
  j = j + 1

trainings

In [8]:
# FOR LOOPS 
# syntax 
# for i in range(start,stop,step):
#   statements

In [9]:
i = 0 
while i <= 10:
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9
10

In [10]:
for i in range(0,11,1):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [11]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(0,21,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# Assignment - 1. print all the odd numbers in negative order from 100 to 0 (using a for loop)
#              2. print all the even numbers in negative order from 100 to 0 (using a for loop)

In [14]:
#Answer:1
for i in range(99,0,-2):
  print(i)

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [15]:
#Answer:2
for i in range(100,0,-2):
  print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [16]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [17]:
# iteration through sequences 
lst1 = ["microsft","accenture","hp","google","apple","amazon"]
for i in lst1:  #this iterates through every item in a list
  print(i)

microsft
accenture
hp
google
apple
amazon

In [18]:
tup1 = ("meta","apple","amazon","netflix","google")
for i in tup1:  #this iterates through every item in a tuple
  print(i)

meta
apple
amazon
netflix
google

In [19]:
str1 = "MICROSOFT"
for i in str1:
  print(i)

M
I
C
R
O
S
O
F
T

In [20]:
s1 = {"meta","apple","amazon","netflix","google"}
for i in s1:  #this iterates through every item in a tuple
  print(i)

amazon
netflix
apple
meta
google

In [21]:
# for loop for tables creation 
n = int(input("Enter the tables :"))
for i in range(1,11):
  print(f"{n} x {i} = {n*i}")

Enter the tables :5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [22]:
# Nested for loops 
# Coordinates (0,1)   (10,5)

for x in range(0,4,1):  #from 0 to 4 in steps of 1 
  for y in range(0,5,1):#from 0 to 5 in steps of 1 
    print(f"({x},{y})")
    
#  0(0,1,2,3,4)     1(0,1,2,3,4)    2(0,1,2,3,4)
# x - 0,1,2,3
# y - 0,1,2,3,4   (x,y)

(0,0)
(0,1)
(0,2)
(0,3)
(0,4)
(1,0)
(1,1)
(1,2)
(1,3)
(1,4)
(2,0)
(2,1)
(2,2)
(2,3)
(2,4)
(3,0)
(3,1)
(3,2)
(3,3)
(3,4)